.fade-enter{
	opacity: 0;
	top: 0px;
}

.fade-enter-active{
	opacity: 1;
	top: 40px;
	transition: all ease-out .5s;
}
.fade-enter-done{
	opacity: 1;
	top: 40px;
	transition: all ease-out .5s;
}

.fade-exit{
	opacity: 1;
	top:40px;
}

.fade-exit-active{
	opacity: 0;
	top: 100px;
	transition: all ease-in .5s;
}